@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

// .ce-block--selected .ce-block__content {
//   @apply bg-secondary/70;
// }

// .ce-toolbar {
//   .ce-toolbar__actions {
//     svg {
//       @apply text-foreground;
//     }
//   }

//   .ce-popover {
//     @apply bg-background border-muted;

//     .ce-popover-item {
//       @apply hover:bg-secondary/70;
//       .ce-popover-item__icon {
//         @apply text-secondary-foreground bg-secondary shadow-none;
//       }
//       .ce-popover-item__title {
//         @apply text-foreground;
//       }
//     }

//     .cdx-search-field {
//       @apply bg-background;
//     }
//   }
// }

// .ce-inline-toolbar {
//   @apply bg-background border-secondary;
//   .ce-inline-toolbar__toggler-and-button-wrapper {
//     @apply overflow-hidden;
//     .ce-inline-toolbar__dropdown {
//       @apply hover:bg-secondary/70;
//     }
//     .ce-inline-toolbar__buttons {
//       button {
//         @apply hover:bg-secondary/70;
//       }
//     }
//   }

//   .ce-conversion-toolbar {
//     @apply bg-background border-secondary;
//     .ce-conversion-toolbar__tools {
//       .ce-conversion-tool {
//         @apply hover:bg-secondary/70;
//       }
//       .ce-conversion-tool .ce-conversion-tool--focused {
//         @apply bg-secondary/70;
//       }
//     }
//   }
// }

// .cdx-input {
//   @apply flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
// }

// .cdx-marker {
//   @apply text-foreground;
// }
